<h1><%= @market.name %></h1>


  <%= @market.address %> </br>
  <%= @market.street %> </br>
  <%= @market.city %>, <%= @market.state %> <%= @market.zip %> </br>

  <h2>Vendors the market</h2>
  <% @vendors.each do |vendor| %>
  <%= link_to "#{vendor.name}", vendor_path(vendor.id) %> </br>
  <% end %>