<h1><%= @facade.market.name %></h1>


  <%= @facade.market.address %> </br>
  <%= @facade.market.street %> </br>
  <%= @facade.market.city %>, <%= @facade.market.state %> <%= @facade.market.zip %> </br>

  <h2>Vendors the market</h2>
  <% @facade.vendors.each do |vendor| %>
  <%= link_to "#{vendor.name}", vendor_path(vendor.id) %> </br>
  <% end %>